body.page-node-type-artist {
	.artist-container {
		margin-top: 1.4em;
		@include make-xs-column(10, 0);
		@include make-sm-column-offset(1);
	}

	.artist-image {
		@include make-xs-column(12);		
		@include make-sm-column(4, 2em);
		padding-left: 0;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.artist-content {
		@include make-xs-column(12);		
		@include make-sm-column(8, 1em);
		font-size: 1.312em;
		font-weight: 300;
	}
}