/* I'm a dupe of the _variables.scss file! I can be used to override defaults from Bootstrap. */

// Useful classes

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin no($property, $direction) {
	@if $property == padding {		
		@if $direction == left {
			padding-left: 0;
		} 
		@else if $direction == right {
			padding-right: 0;
		}
		@if $direction == bottom {
			padding-bottom: 0;
		} 
		@else if $direction == top {
			padding-top: 0;
		}
	} 
	@else if $property == margin {
		@if $direction == left {
			margin-left: 0;
		}
		@else if $direction == right {
			margin-right: 0;
		}
		@if $direction == bottom {
			margin-bottom: 0;
		}
		@else if $direction == top {
			margin-top: 0;
		}
	}
}

@mixin lightlabel {
	display: inline-block;
	font-family: $helveticaneue;
	font-size: 13px;
	padding: .25em 2em .25em .75em;
	background: $medlightgray;
	font-weight: 500;
}

$font-size-base: 16px;