@import "bootstrap";
@import "_system.scss"; /* styling from drupal */
@import '_variables.scss'; /* override some defaults from Bootstrap */
@import '_ccform.scss';
@import '_front.scss';
@import '_getting-here.scss';

* + * { margin-top: $global-margin; }

* > div,
li { margin-top: 0; }

body {
    font-size: 14.5px;
    color: $deepgreen;
}

body a {
    // color: $link-color;
}

body:not(.path-frontpage) {
    main {
        @include make-container;
    }    
}

h2 {
    @include breakpoint(0, $screen-xs) { font-size: 21px; }
}

.container-fluid { padding: 0; }

// icons

.has-icon:before {
    line-height: 1.428571429;
    vertical-align: top;
    margin: 0 4px 0 0;
}

/** block-belleayre-content **/

#block-belleayre-content {
    @include clearfix();
}

/** header **/

nav#block-utilitylinks {
    margin: 0;
    background: #353535;
    text-align: right;
}

nav#block-utilitylinks ul {    
    margin: 0 auto;
}

nav#block-utilitylinks li {
    display: inline-block;
    margin: 0 2em 0 0;

    a {
        color: rgb(242, 243, 245);
        font-weight: 300;
        display: block;
        padding: 6px 8px;
        font-size: .9em;
    }
}

div#block-belleayre-branding {    
    text-align: center;
    padding: .5 * $global-padding;    
    text-transform: uppercase;   
    letter-spacing: .618px;    
    font-weight: bold;
    background: url('/themes/custom/belleayre/images/belleayre_cutout.jpg'), rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    h1 a {
        color: $deepgreen;
        text-shadow: 0 1px 35px rgba(255, 255, 255, 0.2);
    }
}